CONFIG_PACKAGE_dmesg=y
CONFIG_PACKAGE_openssh-client=y
CONFIG_PACKAGE_openssh-client-utils=y
CONFIG_PACKAGE_openssh-keygen=y
CONFIG_PACKAGE_openssh-sftp-client=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_openssh-server=y
CONFIG_PACKAGE_openssh-server-pam=y
CONFIG_PACKAGE_gdb=y
CONFIG_PACKAGE_gdbserver=y
CONFIG_PACKAGE_socat=y
CONFIG_PACKAGE_strace=y
CONFIG_PACKAGE_tmux=y
CONFIG_CCACHE=y
CONFIG_DEVEL=y 
CONFIG_DEBUG=y
CONFIG_USE_STRIP=y
CONFIG_STRIP_ARGS="--strip-unneeded --remove-section=.comment --remove-section=.note"
